<app-navbar></app-navbar>

    <!-- Contenedor principal -->
    <div class="container mt-3">

        <!-- Título de la sección -->
        <h2>Top Libros</h2>

        <!-- Lista de libros top -->
        <section class="top-books">
            <app-book-item
                *ngFor="let book of bookList"
                [book]="book"
                (click)="goToBook(book.id)">
            </app-book-item>
        </section>
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="changePage($event)"></app-pagination>
    </div>
