<app-navbar></app-navbar>
<div class="container mt-3">
    <app-searchbar (searchEvent)="handleSearch($event)"></app-searchbar>

    <h2 class="fw-regular">Search</h2>

<!-- Mostrar resultados de búsqueda en un dropdown -->
    <div *ngIf="showDropdown" class="search-dropdown w-100">
        <app-book-item
        *ngFor="let book of searchResults"
        [book]="book"
        (click)="goToBook(book.id)">
        </app-book-item>
    </div>
    <!-- Explorar Géneros -->
    <div *ngIf="!showDropdown">
        <div class="section-title">
            <h3>Explorar Géneros</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="rounded-button" (click)="filterByGenre('Psicología')">Psicología</div>
                <div class="rounded-button" (click)="filterByGenre('Fantasía')">Fantasía</div>
                <div class="rounded-button" (click)="filterByGenre('Drama')">Drama</div>
            </div>
            <div class="col-6">
                <div class="rounded-button" (click)="filterByGenre('Historia')">Historia</div>
                <div class="rounded-button" (click)="filterByGenre('Aventuras')">Aventuras</div>
                <div class="rounded-button" (click)="filterByGenre('Misterio')">Misterio</div>
            </div>
        </div>

        <!-- Autores Más Buscados -->
        <div class="section-title">
            <h3>Autores Más Buscados</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="rounded-button" (click)="filterByAuthor('J.K Rowling')">J.K Rowling</div>
                <div class="rounded-button" (click)="filterByAuthor('Isabel Allende')">Isabel Allende</div>
                <div class="rounded-button" (click)="filterByAuthor('Dan Brown')">Dan Brown</div>
            </div>
            <div class="col-6">
                <div class="rounded-button" (click)="filterByAuthor('Carl Gustav')">Carl Gustav</div>
                <div class="rounded-button" (click)="filterByAuthor('J.R.R Tolkien')">J.R.R Tolkien</div>
                <div class="rounded-button" (click)="filterByAuthor('Homero')">Homero</div>
            </div>
        </div>
    </div>
</div>