<app-navbar></app-navbar>

<!-- Contenedor principal -->
<div class="container mt-3">
    <app-searchbar></app-searchbar>
    <h2>Administrar Reseñas</h2>
    <!-- Lista de reseñas -->
    <section class="user-adm" *ngFor="let review of filteredReviews">
        <app-user-item 
            [user]="null" 
            [review]="review" 
            [isReviewPage]="true" 
            [showDropdown]="true"
            (actionEvent)="handleActionEvent($event)">
        </app-user-item>
    </section>

    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="changePage($event)"></app-pagination>
</div>