<div class="card h-100 shadow-sm" tabindex="0" (click)="cardClick()">
    <img [src]="book.img" class="card-img-top" [alt]="book.titulo" style="object-fit: cover; height: 250px;">
    
    <div class="card-body d-flex flex-column justify-content-between text-center p-3">
        <div>
            <h5 class="card-title mb-2 fw-bold" style="color: #f5f378;">{{ book.titulo }}</h5>
            <p class="card-text mb-1" *ngIf="book.autor?.length">Autor: {{ book.autor[0].apodo }}</p>
            <p class="card-text mb-1">Editorial: {{ book.editorial }}</p>
            <p class="card-text mb-3">Género: {{ book.genero }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-auto">
            <app-rating [valor]="book.promedio_valoracion"></app-rating>
            <app-save-icon [libroID]="book.id" class="home-card-save"></app-save-icon>
        </div>
    </div>
</div>