<app-navbar></app-navbar>
    <!-- main -->

<div class="container mt-5">
    <h2 class="mb-4">Notificaciones</h2>

    <div *ngFor="let notification of notifications; let i = index" class="notification-box mb-3 p3">
        <button class="btn-close float-end" aria-label="Cerrar" (click)="deleteNotification(notification.id)"></button>
        <p>
            Hola {{ notification.usuario.nombre }}, {{ notification.descripcion }}
        </p>
    </div>
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="changePage($event)"></app-pagination>
</div>