<div class="book-item d-flex mb-1">
  <img *ngIf="book" [src]="book.img" alt="Portada {{ book.titulo }}" class="me-3">

    <div class="book-info flex-grow-1">

        <!-- MOSTRAR LIBRO -->
        <ng-container *ngIf="book">
            <h3>{{ book.titulo }}</h3>
            <p *ngIf="book.autor?.length">Autor: {{ book.autor[0]?.apodo }}</p>
            <p>Id Libro: {{ book.id }}</p>
            <p class="book-quantity">Cantidad disponible: {{ book.cantidad }}</p>
            <app-edit-delete (editDelete)="handleEditDelete($event)"></app-edit-delete>
        </ng-container>

        <!-- MOSTRAR AUTOR -->
        <ng-container *ngIf="autor">
            <h3>{{ autor.apodo }}</h3>
            <p>Nombre real: {{ autor.nombre }} {{ autor.apellido }}</p>
            <p>ID Autor: {{ autor.id }}</p>
            <app-edit-delete (editDelete)="handleEditDelete($event)"></app-edit-delete>
        </ng-container>

    </div>
</div>